<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">

    <testsuite name="orange_e">
        <directory>./test/orange_e</directory>
    </testsuite>
    <testsuite name="xml">
        <directory>./test/xml</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
